<!DOCTYPE html>
<div class="jumbotron text-center">
	<h1>Welcome to MyPage</h1>
	<h3>Doing some practices for the sake of my life</h3>
</div>

<div>
	<ul>
		<li><img src="https://www.ccsf.edu/Images/logo.png" height="450px" class="pull-left"></li>
		<li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/27/San_Jose_State_Spartans_Logo.svg/996px-San_Jose_State_Spartans_Logo.svg.png" height="380px" class="pull-right"></li>
	</ul>	
</div>