<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<p>Email received for your webpage simplsaass.herokuapp.com<%= "#{ @first_name}", "#{ @last_name}", "#{ @email}" %></p>
		<p><%= @message $></p>
	</body>
</html>